<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: header"></head>
<body>
<div class="container d-flex justify-content-center align-items-center m-5">
    <div class=" bg-light card shadow-sm mt-5 p-4" style="width: 100%; max-width: 900px;">
        <h2 class="card-title text-center mb-4">Create Objective</h2>
        <form th:action="@{'/objective/save'}" th:object="${objective}" method="post">
            <div class="container">
                <input type="hidden" name="id" th:value="${objective.getId()}">
                <div class="row">
                    <div class="form-group  m-3">
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" th:field="${objective.description}"
                               th:value="${objective.getDescription()}" required/>
                    </div>

                    <div class="form-group m-3">
                        <label for="startDate">Start Date:</label>
                        <input type="date" class="form-control" id="startDate" th:field="${objective.startDate}"
                               th:value="${#dates.format(objective.getStartDate(),'yyyy-MM-dd')}" required/>
                    </div>

                    <div class="form-group m-3">
                        <label for="endDate">End Date:</label>
                        <input type="date" class="form-control" id="endDate" th:field="${objective.endDate}"
                               th:value="${#dates.format(objective.getEndDate(),'yyyy-MM-dd')}" required/>
                    </div>
                    <div class="form-group m-3">
                        <label for="project">Project:</label>
                        <select class="form-control" id="project" th:field="${objective.project.id}" required>
                            <option th:each="project : ${projects}" th:value="${project.getId()}" th:text="${project.getDescription()}"></option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="text-center">
                        <button type="submit" class="btn btn-link p-0">
                            <img src="../images/addO.png" alt="submit" style="width: 80px">
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
<footer th:replace="fragments :: footer"></footer>
</html>
