<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"></head>
<div th:replace="${session.dashboard}"></div>
<body>
<div class="container mt-5">
    <h1 class="mb-4 text-center">
        M E M B E R S</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.getFirstName()}"></td>
            <td th:text="${member.getLastName()}"></td>
            <td th:text="${member.getEmail()}"></td>
            <td th:text="${member.getRole()}"></td>
            <td>
                <a th:href="@{'/manager/members/edit/' + ${member.getId()}}" class="btn">
                    <img src="../images/edit.png" alt="Member" style="width: 30px">
                </a>
                <a th:href="@{'/manager/members/delete/' + ${member.getId()}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
<footer th:replace="fragments :: footer"></footer>
</html>