<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header"></head>
<div th:replace="fragments :: ${session.menu}"></div>
<body>
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-3 d-flex align-items-center">
        <a th:if="${session.menu} == 'ManagerMenu'" th:href="@{'/objective/add'}" class="btn btn-success">
            <img src="../images/addO.png" alt="objective" style="width: 30px">
            <strong> Add Objective</strong>
        </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <h1>
                <strong>
        <img src="../images/goals.png" alt="img" style="width: 60px">
        Objectives
                </strong>
            </h1>
        </div>
        <div class="col-md-3 d-flex justify-content-end align-items-center">
            <form method="post" th:action="@{objective}" class="d-inline-flex">
                <div class="input-group">
                    <input type="text" name="motCle" th:value="${motCle}" class="form-control" placeholder="Search Project">
                    <button type="submit" class="btn btn-outline-secondary">
                        <img src="../images/search.png" alt="search" style="width: 30px">
                    </button>
                </div>
            </form>
        </div>
    </div>


    <div class="card-deck">
        <div class="row">
            <div class="col-md-6 mb-4" th:each="project : ${projects}">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center p-3" th:text="${project.getDescription()}"></h3>
                        <!--
                        <p class="card-text"><strong>Start Date:</strong> <span th:text="${#dates.format(project.getStartDate(),'yyyy-MM-dd')}"></span></p>
                        <p class="card-text"><strong>End Date:</strong> <span th:text="${#dates.format(project.getEndDate(),'yyyy-MM-dd')}"></span></p>
                         -->
                        <table class="table table-stripped text-center">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th th:if="${session.menu} == 'ManagerMenu'" th:text="Actions"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="objective : ${project.getObjectiveList()}">
                                <td th:text="${objective.getDescription()}"></td>
                                <td><span th:text="${#dates.format(objective.getStartDate(),'yyyy-MM-dd')}"></span></td>
                                <td><span th:text="${#dates.format(objective.getEndDate(),'yyyy-MM-dd')}"></span></td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                    <form th:if="${session.menu} == 'ManagerMenu'" th:action="@{/objective/edit}" method="post">
                                        <input type="hidden" name="id" th:value="${objective.getId()}">
                                        <button type="submit" class="btn">
                                            <img src="../images/edit.png" alt="edit" style="width: 30px">
                                        </button>
                                    </form>
                                    <form th:if="${session.menu} == 'ManagerMenu'" th:action="@{/objective/delete}" method="post"
                                          onsubmit="return confirm('Are you sure you want to delete this objective?');">
                                        <input type="hidden" name="id" th:value="${objective.getId()}">
                                        <button type="submit" class="btn">
                                            <img src="../images/deleteO.png" alt="delete" style="width: 30px">
                                        </button>
                                    </form>
                                        </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                <li class="page-item" th:each="numeroPage : ${pages}">
                    <a class="btn btn-outline-secondary" th:href="@{/objective(pageNbr=${numeroPage}, motCle=${motCle})}"
                       th:classappend="${(pageCourante==numeroPage)?' active':''}" th:text="${1+numeroPage}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments :: footer"></footer>
</html>
